@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    /* cursor: none; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-type: y mandatory; /* Enable vertical snapping */
}

.App {
  height: 100%;
}

.section {
  height: 100vh; /* Make sections cover the whole page */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  scroll-snap-align: start; /* Snap each section to the start */
}

#section1 {
  /* background-color: lightblue; */
}

#section2 {
  /* background-color: lightgreen; */
}

h1 {
  position: fixed; /* Make the text fixed */
  top: 20px; /* Adjust as per your layout */
  left: 20px; /* Adjust as per your layout */
}

.one {
  background-color: #45CCFF;
}

.two {
  background-color: #49E83E;
}

.three {
  background-color: #EDDE05;
}

.four {
  background-color: #E84B30;
}



/* Translating the content's X ruines the scrollbar length. */
/*
#container {
  overflow:scroll;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(-90deg) translateX(-100vw);
  transform-origin: top left;
  white-space:nowrap;
}
*/
